@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  margin: 0 15rem;
}

.nav-links {

  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav{
display: none;

}
.hamburger-position{
 position: absolute;
 right: 2rem;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.menu-links.open {
  max-height: 300px;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: black;
  text-decoration: none;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 70vh;
}

.section__pic-container {
  display: flex;
  height: 45vh;
  width: 45vh;
  margin: auto 0;
}

.profile_picture {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ccc;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ABOUT SECTION */
#about {
  position: relative;
  margin: 0;
  padding: 4rem 10rem 0 10rem;
  background-color: rgba(226, 230, 231, 0.514);
}

.section-container-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

.about-para {
  margin-left: auto;
  max-width: 65%;
  margin-top: 7vh;
  border-left: rgb(163, 163, 163) 0.1rem solid;
}

.detail_container {
  padding: 30px;
  margin-right: 20vw;
}

.detail_container p {
  font-size: 20px;
}

.about-skills {
  border-radius: 2rem;
  padding: 30px;
  text-align: center;
}

.about-skills h1 {
  font-size: 30px;
}

.about-skills h2 {
  font-size: 20px;
  color: rgb(85, 85, 85);
  padding: 10px;
}

.about-skills-list {
  display: flex;
  gap: 4rem;
  text-align: start;
  margin-top: 30px;
}

.about-skills-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.checkmark {
  height: 30px;
  width: auto;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* Arrow icon */
.icon-arrow{
 position: absolute;
 bottom: 5%;
 right: 5%;
 height: 8vh;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin: 0;
  padding: 0 10rem 0 10rem;
  background-color: rgba(226, 230, 231, 0.514);
}
#projects h1{
  padding: 1vh;
}
#projects p{
  font-size: small;
  width: fit-content;
  text-align: center;
  position: relative;
  padding: 0 1rem;
}
.project-containers{
  display: flex;
  gap: 3vh;
  justify-content: center;
  position: relative;
}

.details-container{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(163, 163, 163);
  align-items: center;
  border-radius: 7vh;
  background: rgb(250, 250, 250);
  overflow: hidden;
  margin: 0;
  padding-bottom: 2vh;
  width: 80%;
}
.article-container{
  background-color: #cfcac7ee;
  height: 20vw;
  width: 26vw;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
}


.project-img {
  padding: 4vw;
  margin: 0 4vw;
  width: 100%;
  height: 100%;
  
}

.project-title {
  margin: 1rem 0 0 0;
  color: black;
}
.btn-container{
  margin-top: 1rem;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/*Contact section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  margin: 0;
  background-color: rgba(226, 230, 231, 0.514);
}
#contact p{
  text-align: center;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}



  /* responsive section */
@media (max-width:600px) {
  nav {
    height: 10vh;
    margin: 0 15rem;
    padding-top: 1rem;
  }

  /* SECTIONS */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  overflow: hidden;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 69vh;
  width: 100%;
  /* background-color: brown; */
  margin: 0;
  position: relative;
  padding: 0;
}

.section__pic-container {
  display: flex;
  height: 23vh;
  width: 23vh;
  margin: 0;
}

.profile_picture {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border: 2px solid #ccc;
}

.title {
  font-size: 2.5rem;
}

/* ABOUT SECTION */
#about {
  position: relative;
  margin: 0;
  padding: 2rem 0 0 0;
  height: 90vh;
}

#about p{
  text-align: center;
}
.section-container-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

.about-para {
  margin-left: auto;
  max-width: 100%;
  margin-top: 2vh;
  border-top: rgb(163, 163, 163) 0.1rem solid;
  border-left: 0;
}

.detail_container {
  padding: 10px 0 0 0;
  margin-right: 0;
}

.detail_container #paira {
  font-size: 15px;
  text-align: justify;
}

.about-skills {
  border-radius: 2rem;
  padding: 30px;
  text-align: center;
}

.about-skills h1 {
  font-size: 30px;
}

.about-skills h2 {
  font-size: 20px;
  color: rgb(85, 85, 85);
  padding: 10px;
}

.about-skills-list {
  display: flex;
  gap: 4rem;
  text-align: start;
  margin-top: 10px;
}

.about-skills-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.checkmark {
  height: 30px;
  width: auto;
}
.icon-arrow{
  display: none
}

/* project section */
#projects {
  position: relative;
  margin: 0;
  padding: 2vh 4vh;
  background-color: rgba(226, 230, 231, 0.514);
}
#projects p{
  text-align: center;
}
.project-containers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
  position: relative;
}

.details-container{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(163, 163, 163);
  align-items: center;
  border-radius: 7vh;
  background: rgb(250, 250, 250);
  overflow: hidden;
  margin: 0;
  padding-bottom: 2vh;
  height: 100%;
  width: 100%;
}
.article-container{
  background-color: #cfcac7ee;
  height: 37vh;
  width: 38vh;
  border-radius: 6vh;
  display: flex;
  justify-content: center;
}


.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.project-img {
    padding: 4vh;
    margin: 0 4vh;
    width: 100%;
    height: 100%;
  }

/*Contact section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  margin: 0;
  background-color: rgba(226, 230, 231, 0.514);
}
#contact p{
  text-align: center;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin: 0.5rem;
}
.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

};


  